{% extends '_base.html' %}
{% load thaidate %}

{% block title %}รายการผู้ป่วย{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      th{
          text-align: center;
      }

      td:nth-child(4),
      td:nth-child(5),
      td:nth-child(7),
      td:nth-child(9),
      td:nth-child(8){
          text-align: center;
      }

      .pagination {
            display: inline-block;
          }
          
          .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
          }
          
          .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
          }
          
          .pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
          }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-2"> 
    <div class = "row">
        <div class = "col-6">
            <button type="button" class="btn btn-success px-3" onclick="javascript:location.href='{% url 'Patient:CreateNew'%}'"><i class="fa fa-plus"></i> เพิ่มผู้ป่วย</button>
        </div>
        <div class = "col-6 text-end">
            <button type="button" class="btn btn-success px-3" onclick="javascript:location.href='{% url 'Patient:RadioWorkbook' %}'"><i class="fa fa-file-excel"></i></button>
            <button type="button" class="btn btn-secondary px-3" onclick="javascript:location.href='{% url 'admin:index' %}'"><i class="fa fa-gear"></i></button>
            <button type="button" class="btn btn-warning px-3" onclick="javascript:location.href='{% url 'logout' %}'"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </div>
    </div>
    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">วันที่</th>
                <th scope="col">ชื่อ นามสกุล</th>
                <th scope="col">เบอร์โทร</th>
                <th scope="col">สังกัด</th>                
                <th scope="col" class = "d-none d-sm-none d-md-none d-lg-table-cell">แก้ไข</th>
                <th scope="col" class = "d-none d-sm-none d-md-none d-lg-table-cell">ผู้บันทึก</th>
                <th scope="col" class = "d-none d-sm-none d-md-table-cell">ใบวิทยุ</th>
                <th scope="col" class = "d-none d-sm-none d-md-table-cell">ศปม.รับเรื่อง</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td >{{ obj.date|thaidate:"D d M y" }}</td>
                <td>{{ obj.get_rank_display }} {{ obj.full_name }}</td>
                <td>{{ obj.mobile }}</td>
                <td>{{ obj.unit }}</td>
                <th scope="col" class = "d-none d-sm-none d-md-none d-lg-table-cell">
                  {% if not obj.document_approved %}                    
                    <a href = "{% url 'Patient:updateDocument' obj.id %}" ><i class="fas fa-edit text-warning"></i></a>
                  {% endif %}
                </th>
                <td class = "d-none d-sm-none d-md-none d-lg-table-cell">{{ obj.data_user }}</td>
                <td class = "d-none d-sm-none d-md-table-cell"><a href = "{% url 'Patient:RadioDocument' obj.id %}" target = _blank><i class="fa-solid fa-download"></i></a></td>
                <td class = "d-none d-sm-none d-md-table-cell">
                    {% if obj.document_approved %}
                        <i class="fa-solid fa-circle-check text-success"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
          
        </tbody>
      </table>
      {% if is_paginated %}
      <div class="pagination">
        {% if page_obj.has_previous %}        
          <a href="?page={{page_obj.previous_page_number}}">&laquo;</a>        
        {% else %}        
          <a href="#">&laquo;</a>
        {% endif %} 
        
        {% for i in paginator.page_range %} 
            {% if page_obj.number == i %}
                <a class="active">{{ i }}</a></li>
            {% else %}        
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %} 
        {% endfor %} 
        
        {% if page_obj.has_next %}        
          <a href="?page={{page_obj.next_page_number}}">&raquo;</a>        
        {% else %}
          <a &raquo;</a>
        {% endif %}
      </div>
      {% endif %}
</div>
{% endblock %}